.nights-field.js-nights-modal
  .counter-field__count.js-nights-counter
    = render 'commercial/search-forms/fields/counter', title: 'Ночей'

  button.nights-field__button.js-nights-flex tabindex="-1" ±2 Ночи